*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #735A45;
    
    
}
h1{
    font-size: 90px;
    background-color: #0D0D0D;
    color: #BFBFBF;
    padding: 30px;
    text-align: center;
}
#padre{
    background-color: #BFAA8F;
    width: 800px;
    margin: 50px auto;
    padding: 100px;
    border-radius: 20px;
}

.introduce{
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    border-radius: 2px; 
}
.fecha-de-nacimiento{
    margin-top: 10px;
    padding: 10px;
    width: 599px;
    border-radius: 2px;
    border: 1px solid ;  
}
.sexo{
    margin-top: 10px;
}
a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.titulo{
    padding-bottom: 30px;
    text-align: center;
    font-size: 40px;
}
.iniciar{
    margin: auto;
    display: block;
    border-radius: 15px;
    background-color: #594F46;
    font-weight: bold;
    padding: 10px;
    margin-top: 20px;
    width: 220px;
    font-size: 20px;
}
.iniciar:hover{
    cursor: pointer;
    background-color: #0D0D0D;
    color: white;
}
p{
    font-size: 20px;
   
}
@font-face{
    font-family: nombretipografia;
    src: url(PirataOne-Regular.ttf);
}
h1{
    font-family: nombretipografia;
}
@font-face{
    font-family: subtitulo;
    src: url(Almendra/Almendra-Bold.ttf) ;
}
.titulo{
    font-family: subtitulo;
}


