* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, 'Open Sans', sans-serif;
}

body {
  background-color: #fdfbf8;
}

.container_principal {
  width: 100%;
  height: 100vh;
  position: relative;
}

.valores-header {
  position: absolute;
  top: 40px;
  left: 40%;
  text-align: center;
  color: black;
}

.valores-header h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.valores-header p {
  font-size: 1em;
  font-style: italic;
}

.valores-container {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  text-align: center;
}

.valor {
  flex: 1;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icono-valor {
  border: 2px solid black;
  height: 200px;
  width: 200px;
  margin-bottom: 25px;
}

.valor h3 {
  margin-bottom: 10px;
  font-size: 1.3em;
}

.valor p {
  width: 80%;
  max-width: 300px;
  font-size: 1em;
}

