*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container{
    border: 1px solid #000000;
    display: flex;
}
.box{
    padding: 50px; 
}
h1{
    font-size: 50px;  
}
.crear{
    font-size: 50px;
}

.cuenta{
    font-size: 10px;
}
.caja1{
    padding: 20px;
}
.subtitulo{
    font-size: 15px; 
    padding: 10px;  
}
.contenido{
    padding: 20px; 
    border: 1px solid #000000;
    margin: 10px;
    padding: 10px;
    width: 300px;
    
}
input{
    padding: 10px;
    margin: 10px;
    width: 300px;
}
a{
    padding: 10px 10px 10px 140px;
    color: #000000;
}

button{
    padding: 10px;
    margin: 10px;
    width: 300px;
    font-size: 20px;
    font-weight: 700;
    background-color: #D9B99B;
    border: none;
 }
button:hover{
    cursor: pointer;
    background-color: #3B2F2F;
    color: #FFFFFF;
}

